<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.inhosprecord.dao.InhospRecordMapper">
    <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.inhosprecord.InhospRecord">
        <id column="INHOSP_SERIAL_NO" jdbcType="VARCHAR" property="inhospSerialNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo"/>
        <result column="VISIT_CARD_NO" jdbcType="VARCHAR" property="visitCardNo"/>
        <result column="PAT_NAME" jdbcType="VARCHAR" property="patName"/>
        <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber"/>
        <result column="SEX_CODE" jdbcType="VARCHAR" property="sexCode"/>
        <result column="SEX_NAME" jdbcType="VARCHAR" property="sexName"/>
        <result column="BIRTH_DATE" jdbcType="TIMESTAMP" property="birthDate"/>
        <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo"/>
        <result column="INHOSP_NO" jdbcType="VARCHAR" property="inhospNo"/>
        <result column="INHOSP_NUM" jdbcType="VARCHAR" property="inhospNum"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode"/>
        <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName"/>
        <result column="WARD_CODE" jdbcType="VARCHAR" property="wardCode"/>
        <result column="WARD_NAME" jdbcType="VARCHAR" property="wardName"/>
        <result column="SICKROOM_NO" jdbcType="VARCHAR" property="sickroomNo"/>
        <result column="BED_NO" jdbcType="VARCHAR" property="bedNo"/>
        <result column="ADMIT_DATE" jdbcType="VARCHAR" property="admitDate"/>
        <result column="ADMIT_SITUATION" jdbcType="VARCHAR" property="admitSituation"/>
        <result column="ADMIT_WAY_CODE" jdbcType="VARCHAR" property="admitWayCode"/>
        <result column="ADMIT_WAY_NAME" jdbcType="VARCHAR" property="admitWayName"/>
        <result column="PAT_CHIEF_DESCR" jdbcType="VARCHAR" property="patChiefDescr"/>
        <result column="BRIEF_DISEASE_SITUATION" jdbcType="VARCHAR" property="briefDiseaseSituation"/>
        <result column="CURR_DISEASE_HISTORY" jdbcType="VARCHAR" property="currDiseaseHistory"/>
        <result column="DISEASE_HISTORY" jdbcType="VARCHAR" property="diseaseHistory"/>
        <result column="SURGERY_HISTORY" jdbcType="VARCHAR" property="surgeryHistory"/>
        <result column="METACHYSIS_HISTORY" jdbcType="VARCHAR" property="metachysisHistory"/>
        <result column="ALLERGY_HISTORY" jdbcType="VARCHAR" property="allergyHistory"/>
        <result column="INFECT_DISEASE_HISTORY" jdbcType="VARCHAR" property="infectDiseaseHistory"/>
        <result column="ADMIT_DIAG_CODE" jdbcType="VARCHAR" property="admitDiagCode"/>
        <result column="ADMIT_DIAG_NAME" jdbcType="VARCHAR" property="admitDiagName"/>
        <result column="RECEPT_TREAT_DR_CODE" jdbcType="VARCHAR" property="receptTreatDrCode"/>
        <result column="RECEPT_TREAT_DR_NAME" jdbcType="VARCHAR" property="receptTreatDrName"/>
        <result column="INHOSP_DR_CODE" jdbcType="VARCHAR" property="inhospDrCode"/>
        <result column="INHOSP_DR_NAME" jdbcType="VARCHAR" property="inhospDrName"/>
        <result column="ATTEND_DR_CODE" jdbcType="VARCHAR" property="attendDrCode"/>
        <result column="ATTEND_DR_NAME" jdbcType="VARCHAR" property="attendDrName"/>
        <result column="CHIEF_DR_CODE" jdbcType="VARCHAR" property="chiefDrCode"/>
        <result column="CHIEF_DR_NAME" jdbcType="VARCHAR" property="chiefDrName"/>
        <result column="TREAT_PROCESS_DESCR" jdbcType="VARCHAR" property="treatProcessDescr"/>
        <result column="DISCHARGE_STATUS" jdbcType="VARCHAR" property="dischargeStatus"/>
        <result column="DISCHARGE_DATE" jdbcType="VARCHAR" property="dischargeDate"/>
        <result column="DISCHARGE_DIAG_CODE" jdbcType="VARCHAR" property="dischargeDiagCode"/>
        <result column="DISCHARGE_DIAG_NAME" jdbcType="VARCHAR" property="dischargeDiagName"/>
        <result column="OUTCOME_CODE" jdbcType="VARCHAR" property="outcomeCode"/>
        <result column="OUTCOME_NAME" jdbcType="VARCHAR" property="outcomeName"/>
        <result column="DISCHARGE_METHOD_CODE" jdbcType="VARCHAR" property="dischargeMethodCode"/>
        <result column="DISCHARGE_METHOD_NAME" jdbcType="VARCHAR" property="dischargeMethodName"/>
        <result column="PHYSICAL_EXAM" jdbcType="VARCHAR" property="physicalExam"/>
        <result column="TREATMENT_ADVICE" jdbcType="VARCHAR" property="treatmentAdvice"/>
        <result column="DISEASES_REPORTED_FLAG" jdbcType="VARCHAR" property="diseasesReportedFlag"/>
        <result column="INHOSP_STATUS" jdbcType="VARCHAR" property="inhospStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    INHOSP_SERIAL_NO, ORGAN_CODE, PAT_INDEX_NO, VISIT_CARD_NO, PAT_NAME, ID_NUMBER, SEX_CODE, 
    SEX_NAME, BIRTH_DATE, MOBILE_NO, INHOSP_NO, INHOSP_NUM, DEPT_CODE, DEPT_NAME, WARD_CODE, 
    WARD_NAME, SICKROOM_NO, BED_NO, ADMIT_DATE, ADMIT_SITUATION, ADMIT_WAY_CODE, ADMIT_WAY_NAME, 
    PAT_CHIEF_DESCR, BRIEF_DISEASE_SITUATION, CURR_DISEASE_HISTORY, DISEASE_HISTORY, 
    SURGERY_HISTORY, METACHYSIS_HISTORY, ALLERGY_HISTORY, INFECT_DISEASE_HISTORY, ADMIT_DIAG_CODE, 
    ADMIT_DIAG_NAME, RECEPT_TREAT_DR_CODE, RECEPT_TREAT_DR_NAME, INHOSP_DR_CODE, INHOSP_DR_NAME, 
    ATTEND_DR_CODE, ATTEND_DR_NAME, CHIEF_DR_CODE, CHIEF_DR_NAME, TREAT_PROCESS_DESCR, 
    DISCHARGE_STATUS, DISCHARGE_DATE, DISCHARGE_DIAG_CODE, DISCHARGE_DIAG_NAME, OUTCOME_CODE, 
    OUTCOME_NAME, DISCHARGE_METHOD_CODE, DISCHARGE_METHOD_NAME, PHYSICAL_EXAM, TREATMENT_ADVICE, 
    DISEASES_REPORTED_FLAG, INHOSP_STATUS
  </sql>
    <select id="selectByParamsUnpaged" parameterType="cn.joinhealth.hospmedical.model.inhosprecord.InhospRecordReq" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM v_jh_inhosprecord
        WHERE 1 = 1
        <if test="patIndexNo != null and !''.equals(patIndexNo.trim())">
            AND PAT_INDEX_NO = #{patIndexNo}
        </if>
        <if test="visitCardNo != null and !''.equals(visitCardNo.trim())">
            AND VISIT_CARD_NO = #{visitCardNo}
        </if>
        <if test="inhospNo != null and !''.equals(inhospNo.trim())">
            AND INHOSP_NO = #{inhospNo}
        </if>
        <if test="indexNo != null and !''.equals(indexNo.trim())">
            AND INHOSP_NO = #{indexNo}
        </if>
        <if test="inhospSerialNo != null and !''.equals(inhospSerialNo.trim())">
            AND INHOSP_SERIAL_NO = #{inhospSerialNo}
        </if>
        <if test="patName != null and !''.equals(patName.trim())">
            AND PAT_NAME = #{patName}
        </if>
        <if test="idNumber != null and !''.equals(idNumber.trim())">
            AND ID_NUMBER = #{idNumber}
        </if>
        <if test="mobileNo != null and !''.equals(mobileNo.trim())">
            AND MOBILE_NO = #{mobileNo}
        </if>
        <if test="deptName != null and !''.equals(deptName.trim())">
            AND DEPT_NAME = #{deptName}
        </if>
        <if test="deptCode.size() &gt; 0">
            AND DEPT_CODE IN
            <foreach item="item" index="index" collection="deptCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="wardName != null and !''.equals(wardName.trim())">
            AND WARD_NAME = #{wardName}
        </if>
        <if test="wardCode.size() &gt; 0">
            AND WARD_CODE IN
            <foreach item="item" index="index" collection="wardCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="sickroomNo != null and !''.equals(sickroomNo.trim())">
            AND SICKROOM_NO = #{sickroomNo}
        </if>
        <if test="bedNo != null and !''.equals(bedNo.trim())">
            AND BED_NO = #{bedNo}
        </if>
        <if test="attendDrName != null and !''.equals(attendDrName.trim())">
            AND ATTEND_DR_NAME = #{attendDrName}
        </if>
        <if test="dischargeDiagName != null and !''.equals(dischargeDiagName.trim())">
            AND DISCHARGE_DIAG_NAME = #{dischargeDiagName}
        </if>
        <if test="dischargeDiagCode.size() &gt; 0">
            AND DISCHARGE_DIAG_CODE IN
            <foreach item="item" index="index" collection="dischargeDiagCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="admitDiagName != null and !''.equals(admitDiagName.trim())">
            AND ADMIT_DIAG_NAME = #{admitDiagName}
        </if>
        <if test="admitDiagCode.size() &gt; 0">
            AND ADMIT_DIAG_CODE IN
            <foreach item="item" index="index" collection="admitDiagCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="inhospStatus == 'true'.toString()">
            AND INHOSP_STATUS = '3'
        </if>
        <if test="inhospStatus == 'false'.toString()">
            AND INHOSP_STATUS = '1'
        </if>
        <if test="inhospStatus == 'all'.toString()">
            AND (INHOSP_STATUS = '3' OR INHOSP_STATUS = '1')
        </if>
        <if test="dischargeStartDate != null and !''.equals(dischargeStartDate)">
            AND DISCHARGE_DATE &gt;= #{dischargeStartDate}
        </if>
        <if test="dischargeEndDate != null and !''.equals(dischargeEndDate)">
            AND DISCHARGE_DATE &lt;= #{dischargeEndDate}
        </if>
        <if test="admitStartDate != null and !''.equals(admitStartDate)">
            AND ADMIT_DATE &gt;= #{admitStartDate}
        </if>
        <if test="admitEndDate != null and !''.equals(admitEndDate)">
            AND ADMIT_DATE &lt;= #{admitEndDate}
        </if>
    </select>
    <select id="selectByParamsPaged" parameterType="cn.joinhealth.hospmedical.model.inhosprecord.InhospRecordReq" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM v_jh_inhosprecord
        WHERE 1 = 1
        <if test="patIndexNo != null and !''.equals(patIndexNo.trim())">
            AND PAT_INDEX_NO = #{patIndexNo}
        </if>
        <if test="visitCardNo != null and !''.equals(visitCardNo.trim())">
            AND VISIT_CARD_NO = #{visitCardNo}
        </if>
        <if test="inhospNo != null and !''.equals(inhospNo.trim())">
            AND INHOSP_NO = #{inhospNo}
        </if>
        <if test="indexNo != null and !''.equals(indexNo.trim())">
            AND INHOSP_NO = #{indexNo}
        </if>
        <if test="inhospSerialNo != null and !''.equals(inhospSerialNo.trim())">
            AND INHOSP_SERIAL_NO = #{inhospSerialNo}
        </if>
        <if test="patName != null and !''.equals(patName.trim())">
            AND PAT_NAME = #{patName}
        </if>
        <if test="idNumber != null and !''.equals(idNumber.trim())">
            AND ID_NUMBER = #{idNumber}
        </if>
        <if test="mobileNo != null and !''.equals(mobileNo.trim())">
            AND MOBILE_NO = #{mobileNo}
        </if>
        <if test="deptName != null and !''.equals(deptName.trim())">
            AND DEPT_NAME = #{deptName}
        </if>
        <if test="deptCode.size() &gt; 0">
            AND DEPT_CODE IN
            <foreach item="item" index="index" collection="deptCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="wardName != null and !''.equals(wardName.trim())">
            AND WARD_NAME = #{wardName}
        </if>
        <if test="wardCode.size() &gt; 0">
            AND WARD_CODE IN
            <foreach item="item" index="index" collection="wardCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="sickroomNo != null and !''.equals(sickroomNo.trim())">
            AND SICKROOM_NO = #{sickroomNo}
        </if>
        <if test="bedNo != null and !''.equals(bedNo.trim())">
            AND BED_NO = #{bedNo}
        </if>
        <if test="attendDrName != null and !''.equals(attendDrName.trim())">
            AND ATTEND_DR_NAME = #{attendDrName}
        </if>
        <if test="dischargeDiagName != null and !''.equals(dischargeDiagName.trim())">
            AND DISCHARGE_DIAG_NAME = #{dischargeDiagName}
        </if>
        <if test="dischargeDiagCode.size() &gt; 0">
            AND DISCHARGE_DIAG_CODE IN
            <foreach item="item" index="index" collection="dischargeDiagCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="admitDiagName != null and !''.equals(admitDiagName.trim())">
            AND ADMIT_DIAG_NAME = #{admitDiagName}
        </if>
        <if test="admitDiagCode.size() &gt; 0">
            AND ADMIT_DIAG_CODE IN
            <foreach item="item" index="index" collection="admitDiagCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="inhospStatus == 'true'.toString()">
            AND INHOSP_STATUS = '3'
        </if>
        <if test="inhospStatus == 'false'.toString()">
            AND INHOSP_STATUS = '1'
        </if>
        <if test="inhospStatus == 'all'.toString()">
            AND (INHOSP_STATUS = '3' OR INHOSP_STATUS = '1')
        </if>
        <if test="dischargeStartDate != null and !''.equals(dischargeStartDate)">
            AND DISCHARGE_DATE &gt;= #{dischargeStartDate}
        </if>
        <if test="dischargeEndDate != null and !''.equals(dischargeEndDate)">
            AND DISCHARGE_DATE &lt;= #{dischargeEndDate}
        </if>
        <if test="admitStartDate != null and !''.equals(admitStartDate)">
            AND ADMIT_DATE &gt;= #{admitStartDate}
        </if>
        <if test="admitEndDate != null and !''.equals(admitEndDate)">
            AND ADMIT_DATE &lt;= #{admitEndDate}
        </if>
        <if test="inhospStatus == 'true'.toString()">
            ORDER BY DISCHARGE_DATE DESC,BIRTH_DATE
        </if>
        <if test="inhospStatus == 'false'.toString()">
            <if test="sysCode =='1'.toString()">
                ORDER BY WARD_CODE,BED_NO
            </if>
            <if test="sysCode =='2'.toString()">
                ORDER BY ADMIT_DATE DESC,BIRTH_DATE
            </if>
        </if>
        <if test="dischargeStatus == 'all'.toString()">
            ORDER BY ADMIT_DATE DESC,BIRTH_DATE
        </if>
    </select>
    <select id="selectStatistics" parameterType="cn.joinhealth.hospmedical.model.inhosprecord.InhospRecordReq" resultType="int">
        SELECT count(*)
        FROM v_jh_inhosprecord
        WHERE 1 = 1
        <if test="patIndexNo != null and !''.equals(patIndexNo.trim())">
            AND PAT_INDEX_NO = #{patIndexNo}
        </if>
        <if test="visitCardNo != null and !''.equals(visitCardNo.trim())">
            AND VISIT_CARD_NO = #{visitCardNo}
        </if>
        <if test="inhospNo != null and !''.equals(inhospNo.trim())">
            AND INHOSP_NO = #{inhospNo}
        </if>
        <if test="indexNo != null and !''.equals(indexNo.trim())">
            AND INHOSP_NO = #{indexNo}
        </if>
        <if test="inhospSerialNo != null and !''.equals(inhospSerialNo.trim())">
            AND INHOSP_SERIAL_NO = #{inhospSerialNo}
        </if>
        <if test="patName != null and !''.equals(patName.trim())">
            AND PAT_NAME = #{patName}
        </if>
        <if test="idNumber != null and !''.equals(idNumber.trim())">
            AND ID_NUMBER = #{idNumber}
        </if>
        <if test="mobileNo != null and !''.equals(mobileNo.trim())">
            AND MOBILE_NO = #{mobileNo}
        </if>
        <if test="deptName != null and !''.equals(deptName.trim())">
            AND DEPT_NAME = #{deptName}
        </if>
        <if test="deptCode.size() &gt; 0">
            AND DEPT_CODE IN
            <foreach item="item" index="index" collection="deptCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="wardName != null and !''.equals(wardName.trim())">
            AND WARD_NAME = #{wardName}
        </if>
        <if test="wardCode.size() &gt; 0">
            AND WARD_CODE IN
            <foreach item="item" index="index" collection="wardCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="sickroomNo != null and !''.equals(sickroomNo.trim())">
            AND SICKROOM_NO = #{sickroomNo}
        </if>
        <if test="bedNo != null and !''.equals(bedNo.trim())">
            AND BED_NO = #{bedNo}
        </if>
        <if test="attendDrName != null and !''.equals(attendDrName.trim())">
            AND ATTEND_DR_NAME = #{attendDrName}
        </if>
        <if test="dischargeDiagName != null and !''.equals(dischargeDiagName.trim())">
            AND DISCHARGE_DIAG_NAME = #{dischargeDiagName}
        </if>
        <if test="dischargeDiagCode.size() &gt; 0">
            AND DISCHARGE_DIAG_CODE IN
            <foreach item="item" index="index" collection="dischargeDiagCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="admitDiagName != null and !''.equals(admitDiagName.trim())">
            AND ADMIT_DIAG_NAME = #{admitDiagName}
        </if>
        <if test="admitDiagCode.size() &gt; 0">
            AND ADMIT_DIAG_CODE IN
            <foreach item="item" index="index" collection="admitDiagCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="inhospStatus == 'true'.toString()">
            AND INHOSP_STATUS = '3'
        </if>
        <if test="inhospStatus == 'false'.toString()">
            AND INHOSP_STATUS = '1'
        </if>
        <if test="inhospStatus == 'all'.toString()">
            AND (INHOSP_STATUS = '3' OR INHOSP_STATUS = '1')
        </if>
        <if test="dischargeStartDate != null and !''.equals(dischargeStartDate)">
            AND DISCHARGE_DATE &gt;= #{dischargeStartDate}
        </if>
        <if test="dischargeEndDate != null and !''.equals(dischargeEndDate)">
            AND DISCHARGE_DATE &lt;= #{dischargeEndDate}
        </if>
        <if test="admitStartDate != null and !''.equals(admitStartDate)">
            AND ADMIT_DATE &gt;= #{admitStartDate}
        </if>
        <if test="admitEndDate != null and !''.equals(admitEndDate)">
            AND ADMIT_DATE &lt;= #{admitEndDate}
        </if>
    </select>
</mapper>