<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanniuh.hospmedical.inhosprecord.dao.InhospRecordMapper">
  <resultMap id="BaseResultMap" type="com.lanniuh.hospmedical.inhosprecord.model.InhospRecord">
    <id column="INHOSP_SERIAL_NO" jdbcType="VARCHAR" property="inhospSerialNo" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo" />
    <result column="VISIT_CARD_NO" jdbcType="VARCHAR" property="visitCardNo" />
    <result column="PAT_NAME" jdbcType="VARCHAR" property="patName" />
    <result column="SEX_CODE" jdbcType="VARCHAR" property="sexCode" />
    <result column="SEX_NAME" jdbcType="VARCHAR" property="sexName" />
    <result column="BIRTH_DATE" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="INHOSP_NO" jdbcType="VARCHAR" property="inhospNo" />
    <result column="INHOSP_NUM" jdbcType="INTEGER" property="inhospNum" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="WARD_NAME" jdbcType="VARCHAR" property="wardName" />
    <result column="SICKROOM_NO" jdbcType="VARCHAR" property="sickroomNo" />
    <result column="BED_NO" jdbcType="VARCHAR" property="bedNo" />
    <result column="ADMIT_DATE" jdbcType="TIMESTAMP" property="admitDate" />
    <result column="ADMIT_SITUATION" jdbcType="VARCHAR" property="admitSituation" />
    <result column="ADMIT_WAY_CODE" jdbcType="VARCHAR" property="admitWayCode" />
    <result column="ADMIT_WAY_NAME" jdbcType="VARCHAR" property="admitWayName" />
    <result column="PAT_CHIEF_DESCR" jdbcType="VARCHAR" property="patChiefDescr" />
    <result column="BRIEF_DISEASE_SITUATION" jdbcType="VARCHAR" property="briefDiseaseSituation" />
    <result column="TREAT_PLAN" jdbcType="VARCHAR" property="treatPlan" />
    <result column="PAST_DISEASE_HISTORY_DESCR" jdbcType="VARCHAR" property="pastDiseaseHistoryDescr" />
    <result column="DISEASE_HISTORY" jdbcType="VARCHAR" property="diseaseHistory" />
    <result column="SURGERY_HISTORY" jdbcType="VARCHAR" property="surgeryHistory" />
    <result column="METACHYSIS_HISTORY" jdbcType="VARCHAR" property="metachysisHistory" />
    <result column="INFECT_DISEASE_HISTORY" jdbcType="VARCHAR" property="infectDiseaseHistory" />
    <result column="ADMIT_DIAG_CODE" jdbcType="VARCHAR" property="admitDiagCode" />
    <result column="ADMIT_DIAG_NAME" jdbcType="VARCHAR" property="admitDiagName" />
    <result column="RECEPT_TREAT_DR_CODE" jdbcType="VARCHAR" property="receptTreatDrCode" />
    <result column="RECEPT_TREAT_DR_NAME" jdbcType="VARCHAR" property="receptTreatDrName" />
    <result column="INHOSP_DR_CODE" jdbcType="VARCHAR" property="inhospDrCode" />
    <result column="INHOSP_DR_NAME" jdbcType="VARCHAR" property="inhospDrName" />
    <result column="ATTEND_DR_CODE" jdbcType="VARCHAR" property="attendDrCode" />
    <result column="ATTEND_DR_NAME" jdbcType="VARCHAR" property="attendDrName" />
    <result column="CHIEF_DR_CODE" jdbcType="VARCHAR" property="chiefDrCode" />
    <result column="CHIEF_DR_NAME" jdbcType="VARCHAR" property="chiefDrName" />
    <result column="NURSING_LEVEL_CODE" jdbcType="VARCHAR" property="nursingLevelCode" />
    <result column="NURSING_LEVEL_NAME" jdbcType="VARCHAR" property="nursingLevelName" />
    <result column="PRIMARY_NURSE_CODE" jdbcType="VARCHAR" property="primaryNurseCode" />
    <result column="PRIMARY_NURSE_NAME" jdbcType="VARCHAR" property="primaryNurseName" />
    <result column="TREAT_PROCESS_DESCR" jdbcType="VARCHAR" property="treatProcessDescr" />
    <result column="DISCHARGE_STATUS" jdbcType="VARCHAR" property="dischargeStatus" />
    <result column="DISCHARGE_DATE" jdbcType="TIMESTAMP" property="dischargeDate" />
    <result column="DISCHARGE_DIAG_CODE" jdbcType="VARCHAR" property="dischargeDiagCode" />
    <result column="DISCHARGE_DIAG_NAME" jdbcType="VARCHAR" property="dischargeDiagName" />
    <result column="DISCHARGE_SYMPTOM" jdbcType="VARCHAR" property="dischargeSymptom" />
    <result column="DISCHARGE_ORDER" jdbcType="VARCHAR" property="dischargeOrder" />
    <result column="OUTCOME" jdbcType="VARCHAR" property="outcome" />
    <result column="DISCHARGE_METHOD_CODE" jdbcType="VARCHAR" property="dischargeMethodCode" />
    <result column="DISCHARGE_METHOD_NAME" jdbcType="VARCHAR" property="dischargeMethodName" />
    <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
    <result column="ALLERGY_HISTORY" jdbcType="VARCHAR" property="allergyHistory" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="CURR_DISEASE_HISTORY" jdbcType="VARCHAR" property="currDiseaseHistory" />
    <result column="OUTCOME_CODE" jdbcType="VARCHAR" property="outcomeCode" />
    <result column="OUTCOME_NAME" jdbcType="VARCHAR" property="outcomeName" />
  </resultMap>
  <sql id="Base_Column_List">
    INHOSP_SERIAL_NO, ORGAN_CODE, PAT_INDEX_NO, VISIT_CARD_NO, PAT_NAME, SEX_CODE, SEX_NAME, 
    BIRTH_DATE, INHOSP_NO, INHOSP_NUM, DEPT_NAME, WARD_NAME, SICKROOM_NO, BED_NO, ADMIT_DATE, 
    ADMIT_SITUATION, ADMIT_WAY_CODE, ADMIT_WAY_NAME, PAT_CHIEF_DESCR, BRIEF_DISEASE_SITUATION, 
    TREAT_PLAN, PAST_DISEASE_HISTORY_DESCR, DISEASE_HISTORY, SURGERY_HISTORY, METACHYSIS_HISTORY, 
    INFECT_DISEASE_HISTORY, ADMIT_DIAG_CODE, ADMIT_DIAG_NAME, RECEPT_TREAT_DR_CODE, RECEPT_TREAT_DR_NAME, 
    INHOSP_DR_CODE, INHOSP_DR_NAME, ATTEND_DR_CODE, ATTEND_DR_NAME, CHIEF_DR_CODE, CHIEF_DR_NAME, 
    NURSING_LEVEL_CODE, NURSING_LEVEL_NAME, PRIMARY_NURSE_CODE, PRIMARY_NURSE_NAME, TREAT_PROCESS_DESCR, 
    DISCHARGE_STATUS, DISCHARGE_DATE, DISCHARGE_DIAG_CODE, DISCHARGE_DIAG_NAME, DISCHARGE_SYMPTOM, 
    DISCHARGE_ORDER, OUTCOME, DISCHARGE_METHOD_CODE, DISCHARGE_METHOD_NAME, MOBILE_NO, 
    ID_NUMBER, ALLERGY_HISTORY, DEPT_CODE, CURR_DISEASE_HISTORY, OUTCOME_CODE, OUTCOME_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_jh_inhosprecord
    where INHOSP_SERIAL_NO = #{inhospSerialNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from v_jh_inhosprecord
    where INHOSP_SERIAL_NO = #{inhospSerialNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanniuh.hospmedical.inhosprecord.model.InhospRecord">
    insert into v_jh_inhosprecord (INHOSP_SERIAL_NO, ORGAN_CODE, PAT_INDEX_NO, 
      VISIT_CARD_NO, PAT_NAME, SEX_CODE, 
      SEX_NAME, BIRTH_DATE, INHOSP_NO, 
      INHOSP_NUM, DEPT_NAME, WARD_NAME, 
      SICKROOM_NO, BED_NO, ADMIT_DATE, 
      ADMIT_SITUATION, ADMIT_WAY_CODE, ADMIT_WAY_NAME, 
      PAT_CHIEF_DESCR, BRIEF_DISEASE_SITUATION, TREAT_PLAN, 
      PAST_DISEASE_HISTORY_DESCR, DISEASE_HISTORY, 
      SURGERY_HISTORY, METACHYSIS_HISTORY, INFECT_DISEASE_HISTORY, 
      ADMIT_DIAG_CODE, ADMIT_DIAG_NAME, RECEPT_TREAT_DR_CODE, 
      RECEPT_TREAT_DR_NAME, INHOSP_DR_CODE, INHOSP_DR_NAME, 
      ATTEND_DR_CODE, ATTEND_DR_NAME, CHIEF_DR_CODE, 
      CHIEF_DR_NAME, NURSING_LEVEL_CODE, NURSING_LEVEL_NAME, 
      PRIMARY_NURSE_CODE, PRIMARY_NURSE_NAME, TREAT_PROCESS_DESCR, 
      DISCHARGE_STATUS, DISCHARGE_DATE, DISCHARGE_DIAG_CODE, 
      DISCHARGE_DIAG_NAME, DISCHARGE_SYMPTOM, DISCHARGE_ORDER, 
      OUTCOME, DISCHARGE_METHOD_CODE, DISCHARGE_METHOD_NAME, 
      MOBILE_NO, ID_NUMBER, ALLERGY_HISTORY, 
      DEPT_CODE, CURR_DISEASE_HISTORY, OUTCOME_CODE, 
      OUTCOME_NAME)
    values (#{inhospSerialNo,jdbcType=VARCHAR}, #{organCode,jdbcType=VARCHAR}, #{patIndexNo,jdbcType=VARCHAR}, 
      #{visitCardNo,jdbcType=VARCHAR}, #{patName,jdbcType=VARCHAR}, #{sexCode,jdbcType=VARCHAR}, 
      #{sexName,jdbcType=VARCHAR}, #{birthDate,jdbcType=TIMESTAMP}, #{inhospNo,jdbcType=VARCHAR}, 
      #{inhospNum,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{wardName,jdbcType=VARCHAR}, 
      #{sickroomNo,jdbcType=VARCHAR}, #{bedNo,jdbcType=VARCHAR}, #{admitDate,jdbcType=TIMESTAMP}, 
      #{admitSituation,jdbcType=VARCHAR}, #{admitWayCode,jdbcType=VARCHAR}, #{admitWayName,jdbcType=VARCHAR}, 
      #{patChiefDescr,jdbcType=VARCHAR}, #{briefDiseaseSituation,jdbcType=VARCHAR}, #{treatPlan,jdbcType=VARCHAR}, 
      #{pastDiseaseHistoryDescr,jdbcType=VARCHAR}, #{diseaseHistory,jdbcType=VARCHAR}, 
      #{surgeryHistory,jdbcType=VARCHAR}, #{metachysisHistory,jdbcType=VARCHAR}, #{infectDiseaseHistory,jdbcType=VARCHAR}, 
      #{admitDiagCode,jdbcType=VARCHAR}, #{admitDiagName,jdbcType=VARCHAR}, #{receptTreatDrCode,jdbcType=VARCHAR}, 
      #{receptTreatDrName,jdbcType=VARCHAR}, #{inhospDrCode,jdbcType=VARCHAR}, #{inhospDrName,jdbcType=VARCHAR}, 
      #{attendDrCode,jdbcType=VARCHAR}, #{attendDrName,jdbcType=VARCHAR}, #{chiefDrCode,jdbcType=VARCHAR}, 
      #{chiefDrName,jdbcType=VARCHAR}, #{nursingLevelCode,jdbcType=VARCHAR}, #{nursingLevelName,jdbcType=VARCHAR}, 
      #{primaryNurseCode,jdbcType=VARCHAR}, #{primaryNurseName,jdbcType=VARCHAR}, #{treatProcessDescr,jdbcType=VARCHAR}, 
      #{dischargeStatus,jdbcType=VARCHAR}, #{dischargeDate,jdbcType=TIMESTAMP}, #{dischargeDiagCode,jdbcType=VARCHAR}, 
      #{dischargeDiagName,jdbcType=VARCHAR}, #{dischargeSymptom,jdbcType=VARCHAR}, #{dischargeOrder,jdbcType=VARCHAR}, 
      #{outcome,jdbcType=VARCHAR}, #{dischargeMethodCode,jdbcType=VARCHAR}, #{dischargeMethodName,jdbcType=VARCHAR}, 
      #{mobileNo,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{allergyHistory,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{currDiseaseHistory,jdbcType=VARCHAR}, #{outcomeCode,jdbcType=VARCHAR}, 
      #{outcomeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanniuh.hospmedical.inhosprecord.model.InhospRecord">
    insert into v_jh_inhosprecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inhospSerialNo != null">
        INHOSP_SERIAL_NO,
      </if>
      <if test="organCode != null">
        ORGAN_CODE,
      </if>
      <if test="patIndexNo != null">
        PAT_INDEX_NO,
      </if>
      <if test="visitCardNo != null">
        VISIT_CARD_NO,
      </if>
      <if test="patName != null">
        PAT_NAME,
      </if>
      <if test="sexCode != null">
        SEX_CODE,
      </if>
      <if test="sexName != null">
        SEX_NAME,
      </if>
      <if test="birthDate != null">
        BIRTH_DATE,
      </if>
      <if test="inhospNo != null">
        INHOSP_NO,
      </if>
      <if test="inhospNum != null">
        INHOSP_NUM,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="wardName != null">
        WARD_NAME,
      </if>
      <if test="sickroomNo != null">
        SICKROOM_NO,
      </if>
      <if test="bedNo != null">
        BED_NO,
      </if>
      <if test="admitDate != null">
        ADMIT_DATE,
      </if>
      <if test="admitSituation != null">
        ADMIT_SITUATION,
      </if>
      <if test="admitWayCode != null">
        ADMIT_WAY_CODE,
      </if>
      <if test="admitWayName != null">
        ADMIT_WAY_NAME,
      </if>
      <if test="patChiefDescr != null">
        PAT_CHIEF_DESCR,
      </if>
      <if test="briefDiseaseSituation != null">
        BRIEF_DISEASE_SITUATION,
      </if>
      <if test="treatPlan != null">
        TREAT_PLAN,
      </if>
      <if test="pastDiseaseHistoryDescr != null">
        PAST_DISEASE_HISTORY_DESCR,
      </if>
      <if test="diseaseHistory != null">
        DISEASE_HISTORY,
      </if>
      <if test="surgeryHistory != null">
        SURGERY_HISTORY,
      </if>
      <if test="metachysisHistory != null">
        METACHYSIS_HISTORY,
      </if>
      <if test="infectDiseaseHistory != null">
        INFECT_DISEASE_HISTORY,
      </if>
      <if test="admitDiagCode != null">
        ADMIT_DIAG_CODE,
      </if>
      <if test="admitDiagName != null">
        ADMIT_DIAG_NAME,
      </if>
      <if test="receptTreatDrCode != null">
        RECEPT_TREAT_DR_CODE,
      </if>
      <if test="receptTreatDrName != null">
        RECEPT_TREAT_DR_NAME,
      </if>
      <if test="inhospDrCode != null">
        INHOSP_DR_CODE,
      </if>
      <if test="inhospDrName != null">
        INHOSP_DR_NAME,
      </if>
      <if test="attendDrCode != null">
        ATTEND_DR_CODE,
      </if>
      <if test="attendDrName != null">
        ATTEND_DR_NAME,
      </if>
      <if test="chiefDrCode != null">
        CHIEF_DR_CODE,
      </if>
      <if test="chiefDrName != null">
        CHIEF_DR_NAME,
      </if>
      <if test="nursingLevelCode != null">
        NURSING_LEVEL_CODE,
      </if>
      <if test="nursingLevelName != null">
        NURSING_LEVEL_NAME,
      </if>
      <if test="primaryNurseCode != null">
        PRIMARY_NURSE_CODE,
      </if>
      <if test="primaryNurseName != null">
        PRIMARY_NURSE_NAME,
      </if>
      <if test="treatProcessDescr != null">
        TREAT_PROCESS_DESCR,
      </if>
      <if test="dischargeStatus != null">
        DISCHARGE_STATUS,
      </if>
      <if test="dischargeDate != null">
        DISCHARGE_DATE,
      </if>
      <if test="dischargeDiagCode != null">
        DISCHARGE_DIAG_CODE,
      </if>
      <if test="dischargeDiagName != null">
        DISCHARGE_DIAG_NAME,
      </if>
      <if test="dischargeSymptom != null">
        DISCHARGE_SYMPTOM,
      </if>
      <if test="dischargeOrder != null">
        DISCHARGE_ORDER,
      </if>
      <if test="outcome != null">
        OUTCOME,
      </if>
      <if test="dischargeMethodCode != null">
        DISCHARGE_METHOD_CODE,
      </if>
      <if test="dischargeMethodName != null">
        DISCHARGE_METHOD_NAME,
      </if>
      <if test="mobileNo != null">
        MOBILE_NO,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
      <if test="allergyHistory != null">
        ALLERGY_HISTORY,
      </if>
      <if test="deptCode != null">
        DEPT_CODE,
      </if>
      <if test="currDiseaseHistory != null">
        CURR_DISEASE_HISTORY,
      </if>
      <if test="outcomeCode != null">
        OUTCOME_CODE,
      </if>
      <if test="outcomeName != null">
        OUTCOME_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inhospSerialNo != null">
        #{inhospSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="organCode != null">
        #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="patIndexNo != null">
        #{patIndexNo,jdbcType=VARCHAR},
      </if>
      <if test="visitCardNo != null">
        #{visitCardNo,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        #{patName,jdbcType=VARCHAR},
      </if>
      <if test="sexCode != null">
        #{sexCode,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null">
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="inhospNo != null">
        #{inhospNo,jdbcType=VARCHAR},
      </if>
      <if test="inhospNum != null">
        #{inhospNum,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="wardName != null">
        #{wardName,jdbcType=VARCHAR},
      </if>
      <if test="sickroomNo != null">
        #{sickroomNo,jdbcType=VARCHAR},
      </if>
      <if test="bedNo != null">
        #{bedNo,jdbcType=VARCHAR},
      </if>
      <if test="admitDate != null">
        #{admitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="admitSituation != null">
        #{admitSituation,jdbcType=VARCHAR},
      </if>
      <if test="admitWayCode != null">
        #{admitWayCode,jdbcType=VARCHAR},
      </if>
      <if test="admitWayName != null">
        #{admitWayName,jdbcType=VARCHAR},
      </if>
      <if test="patChiefDescr != null">
        #{patChiefDescr,jdbcType=VARCHAR},
      </if>
      <if test="briefDiseaseSituation != null">
        #{briefDiseaseSituation,jdbcType=VARCHAR},
      </if>
      <if test="treatPlan != null">
        #{treatPlan,jdbcType=VARCHAR},
      </if>
      <if test="pastDiseaseHistoryDescr != null">
        #{pastDiseaseHistoryDescr,jdbcType=VARCHAR},
      </if>
      <if test="diseaseHistory != null">
        #{diseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="surgeryHistory != null">
        #{surgeryHistory,jdbcType=VARCHAR},
      </if>
      <if test="metachysisHistory != null">
        #{metachysisHistory,jdbcType=VARCHAR},
      </if>
      <if test="infectDiseaseHistory != null">
        #{infectDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="admitDiagCode != null">
        #{admitDiagCode,jdbcType=VARCHAR},
      </if>
      <if test="admitDiagName != null">
        #{admitDiagName,jdbcType=VARCHAR},
      </if>
      <if test="receptTreatDrCode != null">
        #{receptTreatDrCode,jdbcType=VARCHAR},
      </if>
      <if test="receptTreatDrName != null">
        #{receptTreatDrName,jdbcType=VARCHAR},
      </if>
      <if test="inhospDrCode != null">
        #{inhospDrCode,jdbcType=VARCHAR},
      </if>
      <if test="inhospDrName != null">
        #{inhospDrName,jdbcType=VARCHAR},
      </if>
      <if test="attendDrCode != null">
        #{attendDrCode,jdbcType=VARCHAR},
      </if>
      <if test="attendDrName != null">
        #{attendDrName,jdbcType=VARCHAR},
      </if>
      <if test="chiefDrCode != null">
        #{chiefDrCode,jdbcType=VARCHAR},
      </if>
      <if test="chiefDrName != null">
        #{chiefDrName,jdbcType=VARCHAR},
      </if>
      <if test="nursingLevelCode != null">
        #{nursingLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="nursingLevelName != null">
        #{nursingLevelName,jdbcType=VARCHAR},
      </if>
      <if test="primaryNurseCode != null">
        #{primaryNurseCode,jdbcType=VARCHAR},
      </if>
      <if test="primaryNurseName != null">
        #{primaryNurseName,jdbcType=VARCHAR},
      </if>
      <if test="treatProcessDescr != null">
        #{treatProcessDescr,jdbcType=VARCHAR},
      </if>
      <if test="dischargeStatus != null">
        #{dischargeStatus,jdbcType=VARCHAR},
      </if>
      <if test="dischargeDate != null">
        #{dischargeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dischargeDiagCode != null">
        #{dischargeDiagCode,jdbcType=VARCHAR},
      </if>
      <if test="dischargeDiagName != null">
        #{dischargeDiagName,jdbcType=VARCHAR},
      </if>
      <if test="dischargeSymptom != null">
        #{dischargeSymptom,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrder != null">
        #{dischargeOrder,jdbcType=VARCHAR},
      </if>
      <if test="outcome != null">
        #{outcome,jdbcType=VARCHAR},
      </if>
      <if test="dischargeMethodCode != null">
        #{dischargeMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="dischargeMethodName != null">
        #{dischargeMethodName,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="allergyHistory != null">
        #{allergyHistory,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="currDiseaseHistory != null">
        #{currDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="outcomeCode != null">
        #{outcomeCode,jdbcType=VARCHAR},
      </if>
      <if test="outcomeName != null">
        #{outcomeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanniuh.hospmedical.inhosprecord.model.InhospRecord">
    update v_jh_inhosprecord
    <set>
      <if test="organCode != null">
        ORGAN_CODE = #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="patIndexNo != null">
        PAT_INDEX_NO = #{patIndexNo,jdbcType=VARCHAR},
      </if>
      <if test="visitCardNo != null">
        VISIT_CARD_NO = #{visitCardNo,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        PAT_NAME = #{patName,jdbcType=VARCHAR},
      </if>
      <if test="sexCode != null">
        SEX_CODE = #{sexCode,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null">
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="inhospNo != null">
        INHOSP_NO = #{inhospNo,jdbcType=VARCHAR},
      </if>
      <if test="inhospNum != null">
        INHOSP_NUM = #{inhospNum,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="wardName != null">
        WARD_NAME = #{wardName,jdbcType=VARCHAR},
      </if>
      <if test="sickroomNo != null">
        SICKROOM_NO = #{sickroomNo,jdbcType=VARCHAR},
      </if>
      <if test="bedNo != null">
        BED_NO = #{bedNo,jdbcType=VARCHAR},
      </if>
      <if test="admitDate != null">
        ADMIT_DATE = #{admitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="admitSituation != null">
        ADMIT_SITUATION = #{admitSituation,jdbcType=VARCHAR},
      </if>
      <if test="admitWayCode != null">
        ADMIT_WAY_CODE = #{admitWayCode,jdbcType=VARCHAR},
      </if>
      <if test="admitWayName != null">
        ADMIT_WAY_NAME = #{admitWayName,jdbcType=VARCHAR},
      </if>
      <if test="patChiefDescr != null">
        PAT_CHIEF_DESCR = #{patChiefDescr,jdbcType=VARCHAR},
      </if>
      <if test="briefDiseaseSituation != null">
        BRIEF_DISEASE_SITUATION = #{briefDiseaseSituation,jdbcType=VARCHAR},
      </if>
      <if test="treatPlan != null">
        TREAT_PLAN = #{treatPlan,jdbcType=VARCHAR},
      </if>
      <if test="pastDiseaseHistoryDescr != null">
        PAST_DISEASE_HISTORY_DESCR = #{pastDiseaseHistoryDescr,jdbcType=VARCHAR},
      </if>
      <if test="diseaseHistory != null">
        DISEASE_HISTORY = #{diseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="surgeryHistory != null">
        SURGERY_HISTORY = #{surgeryHistory,jdbcType=VARCHAR},
      </if>
      <if test="metachysisHistory != null">
        METACHYSIS_HISTORY = #{metachysisHistory,jdbcType=VARCHAR},
      </if>
      <if test="infectDiseaseHistory != null">
        INFECT_DISEASE_HISTORY = #{infectDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="admitDiagCode != null">
        ADMIT_DIAG_CODE = #{admitDiagCode,jdbcType=VARCHAR},
      </if>
      <if test="admitDiagName != null">
        ADMIT_DIAG_NAME = #{admitDiagName,jdbcType=VARCHAR},
      </if>
      <if test="receptTreatDrCode != null">
        RECEPT_TREAT_DR_CODE = #{receptTreatDrCode,jdbcType=VARCHAR},
      </if>
      <if test="receptTreatDrName != null">
        RECEPT_TREAT_DR_NAME = #{receptTreatDrName,jdbcType=VARCHAR},
      </if>
      <if test="inhospDrCode != null">
        INHOSP_DR_CODE = #{inhospDrCode,jdbcType=VARCHAR},
      </if>
      <if test="inhospDrName != null">
        INHOSP_DR_NAME = #{inhospDrName,jdbcType=VARCHAR},
      </if>
      <if test="attendDrCode != null">
        ATTEND_DR_CODE = #{attendDrCode,jdbcType=VARCHAR},
      </if>
      <if test="attendDrName != null">
        ATTEND_DR_NAME = #{attendDrName,jdbcType=VARCHAR},
      </if>
      <if test="chiefDrCode != null">
        CHIEF_DR_CODE = #{chiefDrCode,jdbcType=VARCHAR},
      </if>
      <if test="chiefDrName != null">
        CHIEF_DR_NAME = #{chiefDrName,jdbcType=VARCHAR},
      </if>
      <if test="nursingLevelCode != null">
        NURSING_LEVEL_CODE = #{nursingLevelCode,jdbcType=VARCHAR},
      </if>
      <if test="nursingLevelName != null">
        NURSING_LEVEL_NAME = #{nursingLevelName,jdbcType=VARCHAR},
      </if>
      <if test="primaryNurseCode != null">
        PRIMARY_NURSE_CODE = #{primaryNurseCode,jdbcType=VARCHAR},
      </if>
      <if test="primaryNurseName != null">
        PRIMARY_NURSE_NAME = #{primaryNurseName,jdbcType=VARCHAR},
      </if>
      <if test="treatProcessDescr != null">
        TREAT_PROCESS_DESCR = #{treatProcessDescr,jdbcType=VARCHAR},
      </if>
      <if test="dischargeStatus != null">
        DISCHARGE_STATUS = #{dischargeStatus,jdbcType=VARCHAR},
      </if>
      <if test="dischargeDate != null">
        DISCHARGE_DATE = #{dischargeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dischargeDiagCode != null">
        DISCHARGE_DIAG_CODE = #{dischargeDiagCode,jdbcType=VARCHAR},
      </if>
      <if test="dischargeDiagName != null">
        DISCHARGE_DIAG_NAME = #{dischargeDiagName,jdbcType=VARCHAR},
      </if>
      <if test="dischargeSymptom != null">
        DISCHARGE_SYMPTOM = #{dischargeSymptom,jdbcType=VARCHAR},
      </if>
      <if test="dischargeOrder != null">
        DISCHARGE_ORDER = #{dischargeOrder,jdbcType=VARCHAR},
      </if>
      <if test="outcome != null">
        OUTCOME = #{outcome,jdbcType=VARCHAR},
      </if>
      <if test="dischargeMethodCode != null">
        DISCHARGE_METHOD_CODE = #{dischargeMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="dischargeMethodName != null">
        DISCHARGE_METHOD_NAME = #{dischargeMethodName,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="allergyHistory != null">
        ALLERGY_HISTORY = #{allergyHistory,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="currDiseaseHistory != null">
        CURR_DISEASE_HISTORY = #{currDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="outcomeCode != null">
        OUTCOME_CODE = #{outcomeCode,jdbcType=VARCHAR},
      </if>
      <if test="outcomeName != null">
        OUTCOME_NAME = #{outcomeName,jdbcType=VARCHAR},
      </if>
    </set>
    where INHOSP_SERIAL_NO = #{inhospSerialNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanniuh.hospmedical.inhosprecord.model.InhospRecord">
    update v_jh_inhosprecord
    set ORGAN_CODE = #{organCode,jdbcType=VARCHAR},
      PAT_INDEX_NO = #{patIndexNo,jdbcType=VARCHAR},
      VISIT_CARD_NO = #{visitCardNo,jdbcType=VARCHAR},
      PAT_NAME = #{patName,jdbcType=VARCHAR},
      SEX_CODE = #{sexCode,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      INHOSP_NO = #{inhospNo,jdbcType=VARCHAR},
      INHOSP_NUM = #{inhospNum,jdbcType=INTEGER},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      WARD_NAME = #{wardName,jdbcType=VARCHAR},
      SICKROOM_NO = #{sickroomNo,jdbcType=VARCHAR},
      BED_NO = #{bedNo,jdbcType=VARCHAR},
      ADMIT_DATE = #{admitDate,jdbcType=TIMESTAMP},
      ADMIT_SITUATION = #{admitSituation,jdbcType=VARCHAR},
      ADMIT_WAY_CODE = #{admitWayCode,jdbcType=VARCHAR},
      ADMIT_WAY_NAME = #{admitWayName,jdbcType=VARCHAR},
      PAT_CHIEF_DESCR = #{patChiefDescr,jdbcType=VARCHAR},
      BRIEF_DISEASE_SITUATION = #{briefDiseaseSituation,jdbcType=VARCHAR},
      TREAT_PLAN = #{treatPlan,jdbcType=VARCHAR},
      PAST_DISEASE_HISTORY_DESCR = #{pastDiseaseHistoryDescr,jdbcType=VARCHAR},
      DISEASE_HISTORY = #{diseaseHistory,jdbcType=VARCHAR},
      SURGERY_HISTORY = #{surgeryHistory,jdbcType=VARCHAR},
      METACHYSIS_HISTORY = #{metachysisHistory,jdbcType=VARCHAR},
      INFECT_DISEASE_HISTORY = #{infectDiseaseHistory,jdbcType=VARCHAR},
      ADMIT_DIAG_CODE = #{admitDiagCode,jdbcType=VARCHAR},
      ADMIT_DIAG_NAME = #{admitDiagName,jdbcType=VARCHAR},
      RECEPT_TREAT_DR_CODE = #{receptTreatDrCode,jdbcType=VARCHAR},
      RECEPT_TREAT_DR_NAME = #{receptTreatDrName,jdbcType=VARCHAR},
      INHOSP_DR_CODE = #{inhospDrCode,jdbcType=VARCHAR},
      INHOSP_DR_NAME = #{inhospDrName,jdbcType=VARCHAR},
      ATTEND_DR_CODE = #{attendDrCode,jdbcType=VARCHAR},
      ATTEND_DR_NAME = #{attendDrName,jdbcType=VARCHAR},
      CHIEF_DR_CODE = #{chiefDrCode,jdbcType=VARCHAR},
      CHIEF_DR_NAME = #{chiefDrName,jdbcType=VARCHAR},
      NURSING_LEVEL_CODE = #{nursingLevelCode,jdbcType=VARCHAR},
      NURSING_LEVEL_NAME = #{nursingLevelName,jdbcType=VARCHAR},
      PRIMARY_NURSE_CODE = #{primaryNurseCode,jdbcType=VARCHAR},
      PRIMARY_NURSE_NAME = #{primaryNurseName,jdbcType=VARCHAR},
      TREAT_PROCESS_DESCR = #{treatProcessDescr,jdbcType=VARCHAR},
      DISCHARGE_STATUS = #{dischargeStatus,jdbcType=VARCHAR},
      DISCHARGE_DATE = #{dischargeDate,jdbcType=TIMESTAMP},
      DISCHARGE_DIAG_CODE = #{dischargeDiagCode,jdbcType=VARCHAR},
      DISCHARGE_DIAG_NAME = #{dischargeDiagName,jdbcType=VARCHAR},
      DISCHARGE_SYMPTOM = #{dischargeSymptom,jdbcType=VARCHAR},
      DISCHARGE_ORDER = #{dischargeOrder,jdbcType=VARCHAR},
      OUTCOME = #{outcome,jdbcType=VARCHAR},
      DISCHARGE_METHOD_CODE = #{dischargeMethodCode,jdbcType=VARCHAR},
      DISCHARGE_METHOD_NAME = #{dischargeMethodName,jdbcType=VARCHAR},
      MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      ALLERGY_HISTORY = #{allergyHistory,jdbcType=VARCHAR},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      CURR_DISEASE_HISTORY = #{currDiseaseHistory,jdbcType=VARCHAR},
      OUTCOME_CODE = #{outcomeCode,jdbcType=VARCHAR},
      OUTCOME_NAME = #{outcomeName,jdbcType=VARCHAR}
    where INHOSP_SERIAL_NO = #{inhospSerialNo,jdbcType=VARCHAR}
  </update>
</mapper>