<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanniuh.hospmedical.orderinfo.dao.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.lanniuh.hospmedical.model.orderinfo.OrderInfo">
    <id column="PRES_NO" jdbcType="VARCHAR" property="presNo" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo" />
    <result column="OUTHOSP_NO" jdbcType="VARCHAR" property="outhospNo" />
    <result column="OUTHOSP_SERIAL_NO" jdbcType="VARCHAR" property="outhospSerialNo" />
    <result column="PRES_GROUP_NO" jdbcType="VARCHAR" property="presGroupNo" />
    <result column="PRES_OPEN_DEPT_CODE" jdbcType="VARCHAR" property="presOpenDeptCode" />
    <result column="PRES_OPEN_DEPT_NAME" jdbcType="VARCHAR" property="presOpenDeptName" />
    <result column="PRES_OPEN_DR_CODE" jdbcType="VARCHAR" property="presOpenDrCode" />
    <result column="PRES_OPEN_DR_NAME" jdbcType="VARCHAR" property="presOpenDrName" />
    <result column="PRES_ORDER_DATE" jdbcType="TIMESTAMP" property="presOrderDate" />
    <result column="PRES_VALID_DAY" jdbcType="INTEGER" property="presValidDay" />
    <result column="PRES_CATEG_CODE" jdbcType="VARCHAR" property="presCategCode" />
    <result column="PRES_CATEG_NAME" jdbcType="VARCHAR" property="presCategName" />
    <result column="CHARGE_FLAG" jdbcType="VARCHAR" property="chargeFlag" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    PRES_NO, ORGAN_CODE, PAT_INDEX_NO, OUTHOSP_NO, OUTHOSP_SERIAL_NO, PRES_GROUP_NO, 
    PRES_OPEN_DEPT_CODE, PRES_OPEN_DEPT_NAME, PRES_OPEN_DR_CODE, PRES_OPEN_DR_NAME, PRES_ORDER_DATE, 
    PRES_VALID_DAY, PRES_CATEG_CODE, PRES_CATEG_NAME, CHARGE_FLAG, NOTE
  </sql>
  <select id="selectByParams" parameterType="com.lanniuh.hospmedical.model.orderinfo.OrderInfoReq" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_jh_orderinfo
    where CHARGE_FLAG = '1'
    <if test="outhospSerialNo != null and !''.equals(outhospSerialNo.trim())">
      and OUTHOSP_SERIAL_NO=#{outhospSerialNo}
    </if>
    <if test="startDate != null and !''.equals(startDate)">
      and PRES_ORDER_DATE &gt;= #{startDate}
    </if>
    <if test="endDate != null and !''.equals(endDate)">
      and PRES_ORDER_DATE &lt;= #{endDate}
    </if>
    ORDER BY PRES_ORDER_DATE DESC
  </select>
</mapper>