<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanniuh.hospmedical.outhospfeedetail.dao.OuthospFeeDetailMapper">
    <resultMap id="BaseResultMap" type="com.lanniuh.hospmedical.model.outhospfeedetail.OuthospFeeDetail">
        <id column="DEAL_NO" jdbcType="VARCHAR" property="dealNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="DEAL_SUB_NO" jdbcType="VARCHAR" property="dealSubNo"/>
        <result column="PRES_NO" jdbcType="VARCHAR" property="presNo"/>
        <result column="PRES_SUB_NO" jdbcType="VARCHAR" property="presSubNo"/>
        <result column="CHARGE_ITEM_CODE" jdbcType="VARCHAR" property="chargeItemCode"/>
        <result column="CHARGE_ITEM_NAME" jdbcType="VARCHAR" property="chargeItemName"/>
        <result column="FEE_CATEG_CODE" jdbcType="VARCHAR" property="feeCategCode"/>
        <result column="FEE_CATEG_NAME" jdbcType="VARCHAR" property="feeCategName"/>
        <result column="DRUG_CATALOG_TYPE" jdbcType="VARCHAR" property="drugCatalogType"/>
        <result column="DRUG_AMOUNT" jdbcType="VARCHAR" property="drugAmount"/>
        <result column="DRUG_UNIT" jdbcType="VARCHAR" property="drugUnit"/>
        <result column="DRUG_UNIT_PRICE" jdbcType="VARCHAR" property="drugUnitPrice"/>
        <result column="SELF_PERCENT" jdbcType="VARCHAR" property="selfPercent"/>
        <result column="TOTAL_MONEY" jdbcType="VARCHAR" property="totalMoney"/>
        <result column="VALUATION_FLAG" jdbcType="VARCHAR" property="valuationFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    DEAL_NO, ORGAN_CODE, DEAL_SUB_NO, PRES_NO, PRES_SUB_NO, CHARGE_ITEM_CODE, CHARGE_ITEM_NAME, 
    FEE_CATEG_CODE, FEE_CATEG_NAME, DRUG_CATALOG_TYPE, DRUG_AMOUNT, DRUG_UNIT, DRUG_UNIT_PRICE, 
    SELF_PERCENT, TOTAL_MONEY, VALUATION_FLAG
  </sql>
    <select id="selectByParams" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from v_jh_outhospfeedetail
        where DEAL_NO in
        <foreach item="item" index="index" collection="dealNo"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        order by DEAL_SUB_NO
    </select>
</mapper>