<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.outhospdiag.dao.OuthospDiagMapper">
  <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.outhospdiag.OuthospDiag">
    <id column="OUTHOSP_SERIAL_NO" jdbcType="VARCHAR" property="outhospSerialNo" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo" />
    <result column="OUTHOSP_NO" jdbcType="VARCHAR" property="outhospNo" />
    <result column="DIAG_INDEX_NO" jdbcType="VARCHAR" property="diagIndexNo" />
    <result column="DIAG_DATE" jdbcType="VARCHAR" property="diagDate" />
    <result column="DIAG_NO" jdbcType="VARCHAR" property="diagNo" />
    <result column="DIAG_TYPE_CODE" jdbcType="VARCHAR" property="diagTypeCode" />
    <result column="DIAG_TYPE_NAME" jdbcType="VARCHAR" property="diagTypeName" />
    <result column="DIAG_CODE" jdbcType="VARCHAR" property="diagCode" />
    <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName" />
    <result column="DIAG_INTRODUCTION" jdbcType="VARCHAR" property="diagIntroduction" />
  </resultMap>
  <sql id="Base_Column_List">
    OUTHOSP_SERIAL_NO, ORGAN_CODE, PAT_INDEX_NO, OUTHOSP_NO, DIAG_INDEX_NO, DIAG_DATE, 
    DIAG_NO, DIAG_TYPE_CODE, DIAG_TYPE_NAME, DIAG_CODE, DIAG_NAME, DIAG_INTRODUCTION
  </sql>
  <select id="selectByParams" parameterType="cn.joinhealth.hospmedical.model.outhospdiag.OuthospDiagReq" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_jh_outhospdiag
    where OUTHOSP_SERIAL_NO = #{outhospSerialNo,jdbcType=VARCHAR}
  </select>
</mapper>