<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.signedpatientinfo.dao.SignedPatientInfoMapper">
    <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.signedpatientinfo.SignedPatientInfo">
        <id column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="VISIT_CARD_NO" jdbcType="VARCHAR" property="visitCardNo"/>
        <result column="PAT_NAME" jdbcType="VARCHAR" property="patName"/>
        <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber"/>
        <result column="SEX_CODE" jdbcType="VARCHAR" property="sexCode"/>
        <result column="SEX_NAME" jdbcType="VARCHAR" property="sexName"/>
        <result column="AGE" jdbcType="VARCHAR" property="age"/>
        <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo"/>
        <result column="SIGNED_DATE" jdbcType="VARCHAR" property="signedDate"/>
        <result column="SIGNED_DR_CODE" jdbcType="VARCHAR" property="signedDrCode"/>
        <result column="SIGNED_DR_NAME" jdbcType="VARCHAR" property="signedDrName"/>
        <result column="SIGNED_YEAR" jdbcType="VARCHAR" property="signedYear"/>
        <result column="SIGNED_VALID_START_DATE" jdbcType="VARCHAR" property="signedValidStartDate"/>
        <result column="SIGNED_VALID_END_DATE" jdbcType="VARCHAR" property="signedValidEndDate"/>
        <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName"/>
    </resultMap>
    <sql id="Base_Column_List">
    PAT_INDEX_NO, ORGAN_CODE, VISIT_CARD_NO, PAT_NAME, ID_NUMBER, SEX_CODE, SEX_NAME, 
    AGE, MOBILE_NO, SIGNED_DATE, SIGNED_DR_CODE, SIGNED_DR_NAME, SIGNED_YEAR, SIGNED_VALID_START_DATE, 
    SIGNED_VALID_END_DATE, DIAG_NAME
  </sql>
    <select id="selectByParamsPaged"
            parameterType="cn.joinhealth.hospmedical.model.signedpatientinfo.SignedPatientInfoReq"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from v_jh_signedpatientinfo
        where 1 = 1
        <if test="visitCardNo != null and !''.equals(visitCardNo.trim())">
            and VISIT_CARD_NO = #{visitCardNo}
        </if>
        <if test="patIndexNo != null and !''.equals(patIndexNo.trim())">
            and PAT_INDEX_NO = #{patIndexNo}
        </if>
        <if test="patName != null and !''.equals(patName.trim())">
            and PAT_NAME = #{patName}
        </if>
        <if test="idNumber != null and !''.equals(idNumber.trim())">
            and ID_NUMBER = #{idNumber}
        </if>
        <if test="mobileNo != null and !''.equals(mobileNo.trim())">
            and MOBILE_NO = #{mobileNo}
        </if>
        <if test="signedDrCode != null and !''.equals(signedDrCode.trim())">
            and SIGNED_DR_CODE = #{signedDrCode}
        </if>
        <if test="signedDrName != null and !''.equals(signedDrName.trim())">
            and SIGNED_DR_NAME = #{signedDrName}
        </if>
        <if test="ageStart != null and !''.equals(ageStart.trim())">
            and AGE &gt;= #{ageStart}
        </if>
        <if test="ageEnd != null and !''.equals(ageEnd.trim())">
            and AGE &lt;= #{ageEnd}
        </if>
        <if test="diagName != null and !''.equals(diagName.trim())">
            and DIAG_NAME like '%'||'${diagName}'||'%'
        </if>
        <if test="startDate != null and !''.equals(startDate)">
            and SIGNED_DATE &gt;= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="endDate != null and !''.equals(endDate)">
            and SIGNED_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
        </if>
        order by SIGNED_DATE desc
    </select>
</mapper>