<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.testresult.dao.TestResultMapper">
  <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.testresult.TestResult">
    <id column="REPORT_NO" jdbcType="VARCHAR" property="reportNo" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="TEST_RESULT_NO" jdbcType="VARCHAR" property="testResultNo" />
    <result column="TEST_ITEM_CODE" jdbcType="VARCHAR" property="testItemCode" />
    <result column="TEST_ITEM_NAME" jdbcType="VARCHAR" property="testItemName" />
    <result column="TEST_RESULT_VALUE" jdbcType="VARCHAR" property="testResultValue" />
    <result column="TEST_RESULT_VALUE_UNIT" jdbcType="VARCHAR" property="testResultValueUnit" />
    <result column="REFERENCE_RANGES" jdbcType="VARCHAR" property="referenceRanges" />
    <result column="REFERENCE_UPPER_LIMIT" jdbcType="VARCHAR" property="referenceUpperLimit" />
    <result column="REFERENCE_LOWER_LIMIT" jdbcType="VARCHAR" property="referenceLowerLimit" />
    <result column="NORMAL_FLAG" jdbcType="VARCHAR" property="normalFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    REPORT_NO, ORGAN_CODE, TEST_RESULT_NO, TEST_ITEM_CODE, TEST_ITEM_NAME, TEST_RESULT_VALUE, 
    TEST_RESULT_VALUE_UNIT, REFERENCE_RANGES, REFERENCE_UPPER_LIMIT, REFERENCE_LOWER_LIMIT, 
    NORMAL_FLAG
  </sql>
  <select id="selectByParams" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_jh_testresult
    where REPORT_NO = #{reportNo} order by TEST_RESULT_NO
  </select>
</mapper>