<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.deptdict.dao.DeptDictMapper">
  <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.deptdict.DeptDict">
    <id column="DEPT_INDEX_NO" jdbcType="VARCHAR" property="deptIndexNo" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_ALIAS" jdbcType="VARCHAR" property="deptAlias" />
    <result column="PINYIN_CODE" jdbcType="VARCHAR" property="pinyinCode" />
    <result column="OI_DEPT_FLAG" jdbcType="VARCHAR" property="oiDeptFlag" />
    <result column="SUPERIOR_DEPT_CODE" jdbcType="VARCHAR" property="superiorDeptCode" />
    <result column="SUPERIOR_DEPT_NAME" jdbcType="VARCHAR" property="superiorDeptName" />
    <result column="DESCR" jdbcType="VARCHAR" property="descr" />
    <result column="WARD_FLAG" jdbcType="VARCHAR" property="wardFlag" />
    <result column="HOSP_AREA_CODE" jdbcType="VARCHAR" property="hospAreaCode" />
    <result column="HOSP_AREA_NAME" jdbcType="VARCHAR" property="hospAreaName" />
    <result column="INVALID_FLAG" jdbcType="VARCHAR" property="invalidFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    DEPT_INDEX_NO, ORGAN_CODE, DEPT_CODE, DEPT_NAME, DEPT_ALIAS, PINYIN_CODE, OI_DEPT_FLAG, 
    SUPERIOR_DEPT_CODE, SUPERIOR_DEPT_NAME, DESCR, WARD_FLAG, HOSP_AREA_CODE, HOSP_AREA_NAME, 
    INVALID_FLAG
  </sql>
  <select id="selectByDeptCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM v_jh_deptdict
    WHERE DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByDeptIndexNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM v_jh_deptdict
    WHERE DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM v_jh_deptdict
  </select>
</mapper>