<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.inhospdiag.dao.InhospDiagMapper">
  <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.inhospdiag.InhospDiag">
    <id column="INHOSP_SERIAL_NO" jdbcType="VARCHAR" property="inhospSerialNo" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo" />
    <result column="INHOSP_NO" jdbcType="VARCHAR" property="inhospNo" />
    <result column="INHOSP_NUM" jdbcType="VARCHAR" property="inhospNum" />
    <result column="DIAG_INDEX_NO" jdbcType="VARCHAR" property="diagIndexNo" />
    <result column="DIAG_DATE" jdbcType="VARCHAR" property="diagDate" />
    <result column="DIAG_NO" jdbcType="VARCHAR" property="diagNo" />
    <result column="DIAG_TYPE_CODE" jdbcType="VARCHAR" property="diagTypeCode" />
    <result column="DIAG_TYPE_NAME" jdbcType="VARCHAR" property="diagTypeName" />
    <result column="DIAG_CODE" jdbcType="VARCHAR" property="diagCode" />
    <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName" />
    <result column="DIAG_INTRODUCTION" jdbcType="VARCHAR" property="diagIntroduction" />
  </resultMap>
  <sql id="Base_Column_List">
    INHOSP_SERIAL_NO, ORGAN_CODE, PAT_INDEX_NO, INHOSP_NO, INHOSP_NUM, DIAG_INDEX_NO, 
    DIAG_DATE, DIAG_NO, DIAG_TYPE_CODE, DIAG_TYPE_NAME, DIAG_CODE, DIAG_NAME, DIAG_INTRODUCTION
  </sql>
  <select id="selectByParams" parameterType="cn.joinhealth.hospmedical.model.inhospdiag.InhospDiagReq" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM v_jh_inhospdiag
    WHERE INHOSP_SERIAL_NO = #{inhospSerialNo}
  </select>
</mapper>