<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.examrequisition.dao.ExamRequisitionMapper">
    <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.examrequisition.ExamRequisition">
        <id column="REQUISITION_NO" jdbcType="VARCHAR" property="requisitionNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo"/>
        <result column="OUTHOSP_NO" jdbcType="VARCHAR" property="outhospNo"/>
        <result column="OUTHOSP_SERIAL_NO" jdbcType="VARCHAR" property="outhospSerialNo"/>
        <result column="INHOSP_NO" jdbcType="VARCHAR" property="inhospNo"/>
        <result column="INHOSP_NUM" jdbcType="VARCHAR" property="inhospNum"/>
        <result column="INHOSP_SERIAL_NO" jdbcType="VARCHAR" property="inhospSerialNo"/>
        <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate"/>
        <result column="EXAM_APPLY_ITEM_CODE" jdbcType="VARCHAR" property="examApplyItemCode"/>
        <result column="EXAM_APPLY_ITEM_NAME" jdbcType="VARCHAR" property="examApplyItemName"/>
        <result column="EXAM_TYPE_CODE" jdbcType="VARCHAR" property="examTypeCode"/>
        <result column="EXAM_TYPE_NAME" jdbcType="VARCHAR" property="examTypeName"/>
        <result column="FINISH_DATE" jdbcType="VARCHAR" property="finishDate"/>
        <result column="OPER_PART_CODE" jdbcType="VARCHAR" property="operPartCode"/>
        <result column="OPER_PART_NAME" jdbcType="VARCHAR" property="operPartName"/>
        <result column="REQUISITION_STATUS" jdbcType="VARCHAR" property="requisitionStatus"/>
        <result column="NOTE" jdbcType="VARCHAR" property="note"/>
    </resultMap>
    <sql id="Base_Column_List">
    REQUISITION_NO, ORGAN_CODE, PAT_INDEX_NO, OUTHOSP_NO, OUTHOSP_SERIAL_NO, INHOSP_NO, 
    INHOSP_NUM, INHOSP_SERIAL_NO, APPLY_DATE, EXAM_APPLY_ITEM_CODE, EXAM_APPLY_ITEM_NAME, 
    EXAM_TYPE_CODE, EXAM_TYPE_NAME, FINISH_DATE, OPER_PART_CODE, OPER_PART_NAME, REQUISITION_STATUS, 
    NOTE
  </sql>
    <select id="selectByParams" parameterType="cn.joinhealth.hospmedical.model.examrequisition.ExamRequisitionReq" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM v_jh_examrequisition
        WHERE 1 = 1
        <if test="outhospSerialNo != null and !''.equals(outhospSerialNo.trim())">
            AND OUTHOSP_SERIAL_NO = #{outhospSerialNo}
        </if>
        <if test="inhospSerialNo != null and !''.equals(inhospSerialNo.trim())">
            AND INHOSP_SERIAL_NO = #{inhospSerialNo}
        </if>
        <if test="outhospNo != null and !''.equals(outhospNo.trim())">
            AND OUTHOSP_NO = #{outhospNo}
        </if>
        <if test="inhospNo != null and !''.equals(inhospNo.trim())">
            AND INHOSP_NO = #{inhospNo}
        </if>
        <if test="startDate != null and !''.equals(startDate)">
            <if test="dataSourceType == 1">
                AND APPLY_DATE &gt;= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND APPLY_DATE &gt;= #{startDate}
            </if>
        </if>
        <if test="endDate != null and !''.equals(endDate)">
            <if test="dataSourceType == 1">
                AND APPLY_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND APPLY_DATE &lt;= #{endDate}
            </if>
        </if>
        ORDER BY APPLY_DATE DESC
    </select>
</mapper>