<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.surgeryrecord.dao.SurgeryRecordMapper">
    <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.surgeryrecord.SurgeryRecord">
        <id column="SURGERY_NO" jdbcType="VARCHAR" property="surgeryNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo"/>
        <result column="OUTHOSP_NO" jdbcType="VARCHAR" property="outhospNo"/>
        <result column="OUTHOSP_SERIAL_NO" jdbcType="VARCHAR" property="outhospSerialNo"/>
        <result column="INHOSP_NO" jdbcType="VARCHAR" property="inhospNo"/>
        <result column="INHOSP_NUM" jdbcType="VARCHAR" property="inhospNum"/>
        <result column="INHOSP_SERIAL_NO" jdbcType="VARCHAR" property="inhospSerialNo"/>
        <result column="SURGERY_SEQ_NO" jdbcType="VARCHAR" property="surgerySeqNo"/>
        <result column="SURGERY_OPER_CODE" jdbcType="VARCHAR" property="surgeryOperCode"/>
        <result column="SURGERY_OPER_NAME" jdbcType="VARCHAR" property="surgeryOperName"/>
        <result column="SURGERY_LEVEL_CODE" jdbcType="VARCHAR" property="surgeryLevelCode"/>
        <result column="SURGERY_LEVEL_NAME" jdbcType="VARCHAR" property="surgeryLevelName"/>
        <result column="SURGERY_WOUND_CATEG_CODE" jdbcType="VARCHAR" property="surgeryWoundCategCode"/>
        <result column="SURGERY_WOUND_CATEG_NAME" jdbcType="VARCHAR" property="surgeryWoundCategName"/>
        <result column="WOUND_HEALING_LEVEL_CODE" jdbcType="VARCHAR" property="woundHealingLevelCode"/>
        <result column="WOUND_HEALING_LEVEL_NAME" jdbcType="VARCHAR" property="woundHealingLevelName"/>
        <result column="SURGERY_BEGIN_DATE" jdbcType="VARCHAR" property="surgeryBeginDate"/>
        <result column="SURGERY_END_DATE" jdbcType="VARCHAR" property="surgeryEndDate"/>
        <result column="SURGERY_DR_CODE" jdbcType="VARCHAR" property="surgeryDrCode"/>
        <result column="SURGERY_DR_NAME" jdbcType="VARCHAR" property="surgeryDrName"/>
        <result column="ANES_METHOD_CODE" jdbcType="VARCHAR" property="anesMethodCode"/>
        <result column="ANES_METHOD_NAME" jdbcType="VARCHAR" property="anesMethodName"/>
        <result column="ANES_DR_CODE" jdbcType="VARCHAR" property="anesDrCode"/>
        <result column="ANES_DR_NAME" jdbcType="VARCHAR" property="anesDrName"/>
    </resultMap>
    <sql id="Base_Column_List">
    SURGERY_NO, ORGAN_CODE, PAT_INDEX_NO, OUTHOSP_NO, OUTHOSP_SERIAL_NO, INHOSP_NO, INHOSP_NUM, 
    INHOSP_SERIAL_NO, SURGERY_SEQ_NO, SURGERY_OPER_CODE, SURGERY_OPER_NAME, SURGERY_LEVEL_CODE, 
    SURGERY_LEVEL_NAME, SURGERY_WOUND_CATEG_CODE, SURGERY_WOUND_CATEG_NAME, WOUND_HEALING_LEVEL_CODE, 
    WOUND_HEALING_LEVEL_NAME, SURGERY_BEGIN_DATE, SURGERY_END_DATE, SURGERY_DR_CODE, 
    SURGERY_DR_NAME, ANES_METHOD_CODE, ANES_METHOD_NAME, ANES_DR_CODE, ANES_DR_NAME
  </sql>
    <select id="selectByParams" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM v_jh_surgeryrecord
        WHERE 1 = 1
        <if test="inhospSerialNo != null and !''.equals(inhospSerialNo.trim())">
            AND INHOSP_SERIAL_NO = #{inhospSerialNo}
        </if>
        <if test="outhospSerialNo != null and !''.equals(outhospSerialNo.trim())">
            AND OUTHOSP_SERIAL_NO = #{outhospSerialNo}
        </if>
    </select>
</mapper>