<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.testreport.dao.TestReportMapper">
    <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.testreport.TestReport">
        <id column="REPORT_NO" jdbcType="VARCHAR" property="reportNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo"/>
        <result column="OUTHOSP_NO" jdbcType="VARCHAR" property="outhospNo"/>
        <result column="OUTHOSP_SERIAL_NO" jdbcType="VARCHAR" property="outhospSerialNo"/>
        <result column="INHOSP_NO" jdbcType="VARCHAR" property="inhospNo"/>
        <result column="INHOSP_NUM" jdbcType="VARCHAR" property="inhospNum"/>
        <result column="INHOSP_SERIAL_NO" jdbcType="VARCHAR" property="inhospSerialNo"/>
        <result column="REQUISITION_NO" jdbcType="VARCHAR" property="requisitionNo"/>
        <result column="REQUISITION_NO_ITEM" jdbcType="VARCHAR" property="requisitionNoItem"/>
        <result column="BARCODE_NO" jdbcType="VARCHAR" property="barcodeNo"/>
        <result column="REPORT_NAME" jdbcType="VARCHAR" property="reportName"/>
        <result column="SAMPLE_TYPE_CODE" jdbcType="VARCHAR" property="sampleTypeCode"/>
        <result column="SAMPLE_TYPE_NAME" jdbcType="VARCHAR" property="sampleTypeName"/>
        <result column="TEST_ITEM_CODE" jdbcType="VARCHAR" property="testItemCode"/>
        <result column="TEST_ITEM_NAME" jdbcType="VARCHAR" property="testItemName"/>
        <result column="MICROBE_TEST_FLAG" jdbcType="VARCHAR" property="microbeTestFlag"/>
        <result column="EQUIPMENT_CODE" jdbcType="VARCHAR" property="equipmentCode"/>
        <result column="EQUIPMENT_NAME" jdbcType="VARCHAR" property="equipmentName"/>
        <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate"/>
        <result column="APPLY_DEPT_CODE" jdbcType="VARCHAR" property="applyDeptCode"/>
        <result column="APPLY_DEPT_NAME" jdbcType="VARCHAR" property="applyDeptName"/>
        <result column="APPLY_DR_CODE" jdbcType="VARCHAR" property="applyDrCode"/>
        <result column="APPLY_DR_NAME" jdbcType="VARCHAR" property="applyDrName"/>
        <result column="EXECUTE_DATE" jdbcType="VARCHAR" property="executeDate"/>
        <result column="REPORT_DATE" jdbcType="VARCHAR" property="reportDate"/>
        <result column="NOTE" jdbcType="VARCHAR" property="note"/>
    </resultMap>
    <sql id="Base_Column_List">
    REPORT_NO, ORGAN_CODE, PAT_INDEX_NO, OUTHOSP_NO, OUTHOSP_SERIAL_NO, INHOSP_NO, INHOSP_NUM, 
    INHOSP_SERIAL_NO, REQUISITION_NO, REQUISITION_NO_ITEM, BARCODE_NO, REPORT_NAME, SAMPLE_TYPE_CODE, 
    SAMPLE_TYPE_NAME, TEST_ITEM_CODE, TEST_ITEM_NAME, MICROBE_TEST_FLAG, EQUIPMENT_CODE, 
    EQUIPMENT_NAME, APPLY_DATE, APPLY_DEPT_CODE, APPLY_DEPT_NAME, APPLY_DR_CODE, APPLY_DR_NAME, 
    EXECUTE_DATE, REPORT_DATE, NOTE
  </sql>
    <select id="selectByParams" parameterType="cn.joinhealth.hospmedical.model.testreport.TestReportReq" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM v_jh_testreport
        WHERE REPORT_NO = #{reportNo,jdbcType=VARCHAR}
        <if test="barcodeNo.size() &gt; 0">
            AND BARCODE_NO IN
            <foreach item="item" index="index" collection="barcodeNo"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="requisitionNo != null and !''.equals(requisitionNo.trim())">
            AND REQUISITION_NO = #{requisitionNo}
        </if>
        <if test="requisitionNoItem != null and !''.equals(requisitionNoItem.trim())">
            AND REQUISITION_NO_ITEM = #{requisitionNoItem}
        </if>
        <if test="patIndexNo != null and !''.equals(patIndexNo.trim())">
            AND PAT_INDEX_NO = #{patIndexNo}
        </if>
        <if test="outhospNo != null and !''.equals(outhospNo.trim())">
            AND OUTHOSP_NO = #{outhospNo}
        </if>
        <if test="outhospSerialNo != null and !''.equals(outhospSerialNo.trim())">
            AND OUTHOSP_SERIAL_NO = #{outhospSerialNo}
        </if>
        <if test="inhospNo != null and !''.equals(inhospNo.trim())">
            AND INHOSP_NO = #{inhospNo}
        </if>
        <if test="inhospSerialNo != null and !''.equals(inhospSerialNo.trim())">
            AND INHOSP_SERIAL_NO = #{inhospSerialNo}
        </if>
        <if test="applyDrName != null and !''.equals(applyDrName.trim())">
            AND APPLY_DR_NAME = #{applyDrName}
        </if>
        <if test="applyDeptName != null and !''.equals(applyDeptName.trim())">
            AND APPLY_DEPT_NAME = #{applyDrName}
        </if>
        <if test="reportNo != null and !''.equals(reportNo.trim())">
            AND REPORT_NO = #{reportNo}
        </if>
        <if test="startDate != null and !''.equals(startDate)">
            <if test="dataSourceType == 1">
                AND APPLY_DATE &gt;= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND APPLY_DATE &gt;= #{startDate}
            </if>
        </if>
        <if test="endDate != null and !''.equals(endDate)">
            <if test="dataSourceType == 1">
                AND APPLY_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND APPLY_DATE &lt;= #{endDate}
            </if>
        </if>
        ORDER BY REPORT_DATE DESC
    </select>
</mapper>