<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.joinhealth.hospmedical.visitinfo.dao.VisitInfoMapper">
    <resultMap id="BaseResultMap" type="cn.joinhealth.hospmedical.model.visitinfo.VisitInfo">
        <id column="OUTHOSP_SERIAL_NO" jdbcType="VARCHAR" property="outhospSerialNo"/>
        <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode"/>
        <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo"/>
        <result column="VISIT_CARD_NO" jdbcType="VARCHAR" property="visitCardNo"/>
        <result column="PAT_NAME" jdbcType="VARCHAR" property="patName"/>
        <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber"/>
        <result column="SEX_CODE" jdbcType="VARCHAR" property="sexCode"/>
        <result column="SEX_NAME" jdbcType="VARCHAR" property="sexName"/>
        <result column="BIRTH_DATE" jdbcType="VARCHAR" property="birthDate"/>
        <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo"/>
        <result column="OUTHOSP_NO" jdbcType="VARCHAR" property="outhospNo"/>
        <result column="PAT_TYPE_CODE" jdbcType="VARCHAR" property="patTypeCode"/>
        <result column="PAT_TYPE_NAME" jdbcType="VARCHAR" property="patTypeName"/>
        <result column="REGIST_NO" jdbcType="VARCHAR" property="registNo"/>
        <result column="REGIST_DATE" jdbcType="VARCHAR" property="registDate"/>
        <result column="VISIT_DATE" jdbcType="VARCHAR" property="visitDate"/>
        <result column="VISIT_START_DATE" jdbcType="VARCHAR" property="visitStartDate"/>
        <result column="VISIT_END_DATE" jdbcType="VARCHAR" property="visitEndDate"/>
        <result column="CHIEF_DESCR" jdbcType="VARCHAR" property="chiefDescr"/>
        <result column="CURR_DISEASE_HISTORY" jdbcType="VARCHAR" property="currDiseaseHistory"/>
        <result column="PAST_DISEASE_HISTORY" jdbcType="VARCHAR" property="pastDiseaseHistory"/>
        <result column="ALLERGY_HISTORY" jdbcType="VARCHAR" property="allergyHistory"/>
        <result column="RECEPT_TREAT_DR_CODE" jdbcType="VARCHAR" property="receptTreatDrCode"/>
        <result column="RECEPT_TREAT_DR_NAME" jdbcType="VARCHAR" property="receptTreatDrName"/>
        <result column="VISIT_DEPT_CODE" jdbcType="VARCHAR" property="visitDeptCode"/>
        <result column="VISIT_DEPT_NAME" jdbcType="VARCHAR" property="visitDeptName"/>
        <result column="DIAG_CODE" jdbcType="VARCHAR" property="diagCode"/>
        <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName"/>
        <result column="PHYSICAL_EXAM" jdbcType="VARCHAR" property="physicalExam"/>
        <result column="TREATMENT_ADVICE" jdbcType="VARCHAR" property="treatmentAdvice"/>
        <result column="DISEASES_REPORTED_FLAG" jdbcType="VARCHAR" property="diseasesReportedFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    OUTHOSP_SERIAL_NO, ORGAN_CODE, PAT_INDEX_NO, VISIT_CARD_NO, PAT_NAME, ID_NUMBER, 
    SEX_CODE, SEX_NAME, BIRTH_DATE, MOBILE_NO, OUTHOSP_NO, PAT_TYPE_CODE, PAT_TYPE_NAME, 
    REGIST_NO, REGIST_DATE, VISIT_DATE, VISIT_START_DATE, VISIT_END_DATE, CHIEF_DESCR, 
    CURR_DISEASE_HISTORY, PAST_DISEASE_HISTORY, ALLERGY_HISTORY, RECEPT_TREAT_DR_CODE, 
    RECEPT_TREAT_DR_NAME, VISIT_DEPT_CODE, VISIT_DEPT_NAME, DIAG_CODE, DIAG_NAME, PHYSICAL_EXAM, 
    TREATMENT_ADVICE, DISEASES_REPORTED_FLAG
  </sql>
    <select id="selectByParamsUnpaged" parameterType="cn.joinhealth.hospmedical.model.visitinfo.VisitInfoReq" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM v_jh_visitinfo
        WHERE 1 = 1
        <if test="visitCardNo != null and !''.equals(visitCardNo.trim())">
            AND VISIT_CARD_NO = #{visitCardNo}
        </if>
        <if test="outhospSerialNo != null and !''.equals(outhospSerialNo.trim())">
            AND OUTHOSP_SERIAL_NO = #{outhospSerialNo}
        </if>
        <if test="outhospNo != null and !''.equals(outhospNo.trim())">
            AND OUTHOSP_NO = #{outhospNo}
        </if>
        <if test="indexNo != null and !''.equals(indexNo.trim())">
            AND VISIT_CARD_NO = #{indexNo}
        </if>
        <if test="patName != null and !''.equals(patName.trim())">
            AND PAT_NAME = #{patName}
        </if>
        <if test="receptTreatDrName != null and !''.equals(receptTreatDrName.trim())">
            AND RECEPT_TREAT_DR_NAME = #{receptTreatDrName}
        </if>
        <if test="visitDeptName != null and !''.equals(visitDeptName.trim())">
            AND VISIT_DEPT_NAME = #{visitDeptName}
        </if>
        <if test="visitDeptCode.size() &gt; 0">
            AND VISIT_DEPT_CODE IN
            <foreach item="item" index="index" collection="visitDeptCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="diagName != null and !''.equals(diagName.trim())">
            AND DIAG_NAME LIKE '%'||'${diagName}'||'%')
        </if>
        <if test="idNumber != null and !''.equals(idNumber.trim())">
            AND ID_NUMBER = #{idNumber}
        </if>
        <if test="mobileNo != null and !''.equals(mobileNo.trim())">
            AND MOBILE_NO = #{mobileNo}
        </if>
        <if test="startDate != null and !''.equals(startDate)">
            <if test="dataSourceType == 1">
                AND VISIT_DATE &gt;= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND VISIT_DATE &gt;= #{startDate}
            </if>
        </if>
        <if test="endDate != null and !''.equals(endDate)">
            <if test="dataSourceType == 1">
                AND VISIT_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND VISIT_DATE &lt;= #{endDate}
            </if>
        </if>
    </select>

    <select id="selectByParamsPaged" parameterType="cn.joinhealth.hospmedical.model.visitinfo.VisitInfoReq" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM v_jh_visitinfo
        WHERE 1 = 1
        <if test="visitCardNo != null and !''.equals(visitCardNo.trim())">
            AND VISIT_CARD_NO = #{visitCardNo}
        </if>
        <if test="outhospSerialNo != null and !''.equals(outhospSerialNo.trim())">
            AND OUTHOSP_SERIAL_NO = #{outhospSerialNo}
        </if>
        <if test="outhospNo != null and !''.equals(outhospNo.trim())">
            AND OUTHOSP_NO = #{outhospNo}
        </if>
        <if test="indexNo != null and !''.equals(indexNo.trim())">
            AND VISIT_CARD_NO = #{indexNo}
        </if>
        <if test="patName != null and !''.equals(patName.trim())">
            AND PAT_NAME = #{patName}
        </if>
        <if test="receptTreatDrName != null and !''.equals(receptTreatDrName.trim())">
            AND RECEPT_TREAT_DR_NAME = #{receptTreatDrName}
        </if>
        <if test="visitDeptName != null and !''.equals(visitDeptName.trim())">
            AND VISIT_DEPT_NAME = #{visitDeptName}
        </if>
        <if test="visitDeptCode.size() &gt; 0">
            AND VISIT_DEPT_CODE IN
            <foreach item="item" index="index" collection="visitDeptCode"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="diagName != null and !''.equals(diagName.trim())">
            AND DIAG_NAME LIKE '%'||'${diagName}'||'%')
        </if>
        <if test="idNumber != null and !''.equals(idNumber.trim())">
            AND ID_NUMBER = #{idNumber}
        </if>
        <if test="mobileNo != null and !''.equals(mobileNo.trim())">
            AND MOBILE_NO = #{mobileNo}
        </if>
        <if test="startDate != null and !''.equals(startDate)">
            <if test="dataSourceType == 1">
                AND VISIT_DATE &gt;= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND VISIT_DATE &gt;= #{startDate}
            </if>
        </if>
        <if test="endDate != null and !''.equals(endDate)">
            <if test="dataSourceType == 1">
                AND VISIT_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="dataSourceType == 2 or dataSourceType == 3">
                AND VISIT_DATE &lt;= #{endDate}
            </if>
        </if>
        ORDER BY VISIT_DATE DESC
    </select>
</mapper>