<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--HIS-->
    <bean id="dataSource-his" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${his.jdbc.driver}"/>
        <property name="jdbcUrl" value="${his.jdbc.url}"/>
        <property name="user" value="${his.jdbc.username}"/>
        <property name="password" value="${his.jdbc.password}"/>
        <property name="initialPoolSize" value="${his.jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${his.jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${his.jdbc.maxPoolSize}"/>
        <property name="acquireIncrement" value="${his.jdbc.acquireIncrement}"/>
        <property name="maxIdleTime" value="${his.jdbc.maxIdleTime}"/>
        <property name="maxStatements" value="${his.jdbc.maxStatements}"/>
    </bean>
    <!--EMR-->
    <bean id="dataSource-emr" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${emr.jdbc.driver}"/>
        <property name="jdbcUrl" value="${emr.jdbc.url}"/>
        <property name="user" value="${emr.jdbc.username}"/>
        <property name="password" value="${emr.jdbc.password}"/>
        <property name="initialPoolSize" value="${emr.jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${emr.jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${emr.jdbc.maxPoolSize}"/>
        <property name="acquireIncrement" value="${emr.jdbc.acquireIncrement}"/>
        <property name="maxIdleTime" value="${emr.jdbc.maxIdleTime}"/>
        <property name="maxStatements" value="${emr.jdbc.maxStatements}"/>
    </bean>
    <!--LIS-->
    <bean id="dataSource-lis" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${lis.jdbc.driver}"/>
        <property name="jdbcUrl" value="${lis.jdbc.url}"/>
        <property name="user" value="${lis.jdbc.username}"/>
        <property name="password" value="${lis.jdbc.password}"/>
        <property name="initialPoolSize" value="${lis.jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${lis.jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${lis.jdbc.maxPoolSize}"/>
        <property name="acquireIncrement" value="${lis.jdbc.acquireIncrement}"/>
        <property name="maxIdleTime" value="${lis.jdbc.maxIdleTime}"/>
        <property name="maxStatements" value="${lis.jdbc.maxStatements}"/>
    </bean>
    <!--PACS-->
    <bean id="dataSource-pacs" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${pacs.jdbc.driver}"/>
        <property name="jdbcUrl" value="${pacs.jdbc.url}"/>
        <property name="user" value="${pacs.jdbc.username}"/>
        <property name="password" value="${pacs.jdbc.password}"/>
        <property name="initialPoolSize" value="${pacs.jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${pacs.jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${pacs.jdbc.maxPoolSize}"/>
        <property name="acquireIncrement" value="${pacs.jdbc.acquireIncrement}"/>
        <property name="maxIdleTime" value="${pacs.jdbc.maxIdleTime}"/>
        <property name="maxStatements" value="${pacs.jdbc.maxStatements}"/>
    </bean>
    <!--PhysicalExam-->
    <bean id="dataSource-pe" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${pe.jdbc.driver}"/>
        <property name="jdbcUrl" value="${pe.jdbc.url}"/>
        <property name="user" value="${pe.jdbc.username}"/>
        <property name="password" value="${pe.jdbc.password}"/>
        <property name="initialPoolSize" value="${pe.jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${pe.jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${pe.jdbc.maxPoolSize}"/>
        <property name="acquireIncrement" value="${pe.jdbc.acquireIncrement}"/>
        <property name="maxIdleTime" value="${pe.jdbc.maxIdleTime}"/>
        <property name="maxStatements" value="${pe.jdbc.maxStatements}"/>
    </bean>
    <!--Interview-->
    <bean id="dataSource-interview" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${interview.jdbc.driver}"/>
        <property name="jdbcUrl" value="${interview.jdbc.url}"/>
        <property name="user" value="${interview.jdbc.username}"/>
        <property name="password" value="${interview.jdbc.password}"/>
        <property name="initialPoolSize" value="${interview.jdbc.initialPoolSize}"/>
        <property name="minPoolSize" value="${interview.jdbc.minPoolSize}"/>
        <property name="maxPoolSize" value="${interview.jdbc.maxPoolSize}"/>
        <property name="acquireIncrement" value="${interview.jdbc.acquireIncrement}"/>
        <property name="maxIdleTime" value="${interview.jdbc.maxIdleTime}"/>
        <property name="maxStatements" value="${interview.jdbc.maxStatements}"/>
    </bean>

    <bean id="multipleDataSource" class="cn.joinhealth.util.MultipleDataSource">
        <property name="defaultTargetDataSource" ref="dataSource-his"/>
        <property name="targetDataSources">
            <map>
                <entry key="dataSource-his" value-ref="dataSource-his"/>
                <entry key="dataSource-emr" value-ref="dataSource-emr"/>
                <entry key="dataSource-lis" value-ref="dataSource-lis"/>
                <entry key="dataSource-pacs" value-ref="dataSource-pacs"/>
                <entry key="dataSource-pe" value-ref="dataSource-pe"/>
                <entry key="dataSource-interview" value-ref="dataSource-interview"/>
            </map>
        </property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="multipleDataSource"/>
        <property name="mapperLocations" value="classpath*:test/mapper/*/*Mapper.xml"/>
        <property name="configLocation" value="mybatis-config.xml"/>
    </bean>

    <!-- mybatis.spring自动映射 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.joinhealth.hospmedical.*.dao"/>
    </bean>
</beans>