<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="byName">
	<import resource="classpath:test/spring/spring-config.xml"/>
	<!--<import resource="classpath:test/spring/spring-dubbo.xml"/>-->
	<import resource="classpath:test/spring/spring-mybatis.xml"/>
</beans>
